<html lang="en">
    <%- include('./partials/head.ejs')  %> 
    <body>

        <%- include('./partials/nav.ejs')  %> 

        <div class="about content">
            <h2>About Us</h2>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Maxime a atque non dicta fugit voluptas necessitatibus ipsam consectetur cumque asperiores libero sunt hic, laboriosam tempora corporis unde quibusdam iste culpa.</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum, corporis aspernatur repellat, dolores optio ex consectetur aperiam voluptatem mollitia magni quasi velit quia deleniti omnis totam sint alias aut vitae.</p>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Iure consequatur optio commodi, perferendis voluptatum aspernatur. Rerum eum molestias eaque totam officia voluptates hic inventore architecto, cupiditate eligendi dolores laborum dignissimos.</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem facere aperiam odio beatae id nostrum odit eaque voluptatibus, quam atque alias quaerat, maiores asperiores minus vero deserunt! Fugiat, nam fugit?</p>
        </div>

        <%- include('./partials/footer.ejs')  %> 
    </body>
</html>